{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% include 'shop/_nav.html' %}
</head>
<body>
{% block content %}

{% endblock %}
<footer class="animate">
    <div class="footer-container">
        <div class="legal-info">
            <span>ИП ФЕДЧЕНКО ЭЛИНА ИГОРЕВНА</span>
            <span>ИНН 123456798</span>
            <span>ОГРНИП 987654321</span>
        </div>
        <div class="copyright">
            <span>BOTANICA © 2023</span>
        </div>
        <div class="footer-address">
            <span>Белгород, Гражданский проспект, 47</span>
            <span>+7 (4722) 21-90-08</span>
        </div>
    </div>
</footer>
</body>
</html>