{% extends 'shop/_base.html' %}
{% block title %}О нас{% endblock %}
{% block content %}
            <div class="about-us-slogan">Ваш букет ярких эмоций.</div>
    <div class="animate main-container">
        <div class="about-us-container">
            <div class="about-us-table">
                <table class="about-us-table">
                    <tr>
                        <td class="about-us-table-text">Наша команда стремится создавать неповторимые цветочные шедевры, чтобы каждый наш клиент мог порадовать своих близких и любимых уникальными и трогательными подарками. Мы заботимся о свежести и качестве наших цветов, поэтому работаем только с проверенными поставщиками и гарантируем свежесть каждого цветка.</td>
                        <td class="about-us-table-img table-img-end"><img alt="Пример букета" src="/media/default/buket_about_1.jpg"/></td>
                    </tr>
                    <tr>
                        <td class="about-us-table-img table-img-start"><img alt="Пример букета" src="/media/default/buket_about_2.jpg"/></td>
                        <td class="about-us-table-text">Мы ценим Ваше время и стремимся сделать процесс покупки максимально удобным и быстрым, предлагая различные варианты доставки и оплаты. У нас Вы можете заказать цветы с доставкой на дом или в офис, а также оформить самовывоз из нашего магазина.</td>
                    </tr>
                    <tr>
                        <td class="about-us-table-text">Кроме того, мы предлагаем услуги по оформлению мероприятий, созданию букетов на заказ и консультированию по уходу за цветами. Опытные флористы нашего магазина всегда готовы помочь Вам выбрать идеальный букет или композицию, учитывая все Ваши пожелания и особенности предстоящего события.</td>
                        <td class="about-us-table-img table-img-end"><img alt="Пример букета" src="/media/default/buket_about_3.jpg"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}