{% extends 'shop/_base.html' %}
{% block title %}О нас{% endblock %}
{% block content %}
            <div class="about-us-slogan">Ваш букет ярких эмоций.</div>
    <div class="animate main-container">
        <div class="about-us-container">
            <div class="about-us-table">
                <table class="about-us-table">
                    <tr>
                        <td class="about-us-table-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cum fugiat ipsum iste nisi omnis pariatur qui reprehenderit! Deleniti eligendi harum odio possimus quisquam ratione repellat repellendus tempore ullam voluptates?</td>
                        <td class="about-us-table-img table-img-end"><img alt="Пример букета" src="/media/default/buket_about_1.jpg"/></td>
                    </tr>
                    <tr>
                        <td class="about-us-table-img table-img-start"><img alt="Пример букета" src="/media/default/buket_about_2.jpg"/></td>
                        <td class="about-us-table-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid aspernatur cumque debitis fugit inventore iste laborum magni minus necessitatibus nisi nobis, officia perspiciatis quia quo saepe similique tempore veritatis.</td>
                    </tr>
                    <tr>
                        <td class="about-us-table-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam beatae consequatur esse est fugit nihil quisquam repudiandae vero voluptas! Dolore eos ipsum perspiciatis quia rem temporibus ut. Distinctio, eligendi.</td>
                        <td class="about-us-table-img table-img-end"><img alt="Пример букета" src="/media/default/buket_about_3.jpg"/></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}