{% extends 'shop/_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'shop/_nav.html' %}
{% block title %} BOTANICA {% endblock %}
<body>
{% block content %}
<div class="animate main-container">
    <div class="sidebar">
        <div class="sidebar-head">
            Все товары
        </div>
        <hr>
        <div class="sidebar-content">
            <a href="#">Товар Х</a>
            <a href="#">Товар Х</a>
            <a href="#">Товар Х</a>
            <a href="#">Товар Х</a>
            <a href="#">Товар Х</a>
            <a href="#">Товар Х</a>
        </div>
    </div>
    <div class="mainpage-product-cards">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolorum fugit harum minima necessitatibus praesentium similique soluta veritatis vero.
    Amet corporis doloribus inventore laboriosam laudantium odit quae quod veniam voluptatem.
    </div>
</div>
{% endblock %}
</body>
</html>