{% extends 'shop/_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'shop/_nav.html' %}
{% block title %} BOTANICA {% endblock %}
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
</head>
<body>
{% block content %}
    <div class="sub-header">
        <div class="sub-header-links">
            <a href="{% url 'shop:main_page'%}" {% if not chosen_category %}style="background-color: #fbfbfb"{% endif %}>Всё</a>
        {% for category in categories %}
            <a href="{% url 'shop:product_list_by_category' category.slug%}" {% if category.slug == chosen_category.slug %}style="background-color: #fbfbfb"{% endif %}>{{ category.name.title }}</a>
        {% endfor %}
        </div>
    </div>
    <div class="animate main-container">
        <div class="products-list-container">
            {% if products.count == 0 %}
            <div class="empty-products-list">
                Этого у нас пока нет, но скоро появится.
            </div>
            {% endif %}
            <div class="products-list">
                {% for product in products %}
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/default/buket_about_1.jpg"/>
                    </div>
                    <div class="product-card-content">
                        <div class="product-card-name">
                            {{ product.name }}
                        </div>
                        <div class="product-card-desc">
                            {{ product.description }}
                        </div>
                        <div class="product-card-price">
                            {{ product.price }} ₽
                        </div>
                        <span class="product-category"><a href="{% url 'shop:product_list_by_category' product.category.slug%}">{{ product.category.name }}</a></span>
                        <div class="product-card-buttons">
                            {% if request.user.is_staff %}
                            <a href="" class="button">Редактировать</a>
                            {% else %}
                            <a href="{% url 'orders:preorder' product.id%}" class="button">Предзаказ</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
<a class="btn-up" href="#header">наверх</a>
<div class="fixed-bottom-right">
  <a href="#">Корзина</a>
</div>
{% endblock %}
</body>
</html>