{% extends 'shop/_base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'shop/_nav.html' %}
{% block title %} BOTANICA {% endblock %}
<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
</head>
<body>
{% block content %}
    <div class="sub-header">
        <div class="sub-header-links">
            <a href="#">Цветы</a>
            <a href="#">Игрушки</a>
            <a href="#">Украшения</a>
            <a href="#">Открытки</a>
        </div>
    </div>
    <div class="animate main-container">
        <div class="product-list-container">
            <div class="product-list">
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/default/default_product_image.png"/>
                    </div>
                    <div class="product-card-content">
                        <div class="product-card-name">
                            Роза
                        </div>
                        <div class="product-card-desc">
                            Ро́за — собирательное название видов и сортов представителей рода Шипо́вник (лат. Rósa), выращиваемых человеком и растущих в дикой природе.
                        </div>
                        <div class="product-card-price">
                            100 ₽
                        </div>
                        <div class="product-card-buttons">
                            <a href="#" class="button">Купить</a>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/default/default_product_image.png"/>
                    </div>
                    <div class="product-card-content">
                        <div class="product-card-name">
                            Роза
                        </div>
                        <div class="product-card-desc">
                            Ро́за — собирательное название видов и сортов представителей рода Шипо́вник (лат. Rósa), выращиваемых человеком и растущих в дикой природе.
                        </div>
                        <div class="product-card-price">
                            100 ₽
                        </div>
                        <div class="product-card-buttons">
                            <a href="#" class="button">Купить</a>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/default/default_product_image.png"/>
                    </div>
                    <div class="product-card-content">
                        <div class="product-card-name">
                            Роза
                        </div>
                        <div class="product-card-desc">
                            Ро́за — собирательное название видов и сортов представителей рода Шипо́вник (лат. Rósa), выращиваемых человеком и растущих в дикой природе.
                        </div>
                        <div class="product-card-price">
                            100 ₽
                        </div>
                        <div class="product-card-buttons">
                            <a href="#" class="button">Купить</a>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/default/default_product_image.png"/>
                    </div>
                    <div class="product-card-content">
                        <div class="product-card-name">
                            Роза
                        </div>
                        <div class="product-card-desc">
                            Ро́за — собирательное название видов и сортов представителей рода Шипо́вник (лат. Rósa), выращиваемых человеком и растущих в дикой природе.
                        </div>
                        <div class="product-card-price">
                            100 ₽
                        </div>
                        <div class="product-card-buttons">
                            <a href="#" class="button">Купить</a>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/default/default_product_image.png"/>
                    </div>
                    <div class="product-card-content">
                        <div class="product-card-name">
                            Роза
                        </div>
                        <div class="product-card-desc">
                            Ро́за — собирательное название видов и сортов представителей рода Шипо́вник (лат. Rósa), выращиваемых человеком и растущих в дикой природе.
                        </div>
                        <div class="product-card-price">
                            100 ₽
                        </div>
                        <div class="product-card-buttons">
                            <a href="#" class="button">Купить</a>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">
                        <img src="/media/default/default_product_image.png"/>
                    </div>
                    <div class="product-card-content">
                        <div class="product-card-name">
                            Роза
                        </div>
                        <div class="product-card-desc">
                            Ро́за — собирательное название видов и сортов представителей рода Шипо́вник (лат. Rósa), выращиваемых человеком и растущих в дикой природе.
                        </div>
                        <div class="product-card-price">
                            100 ₽
                        </div>
                        <div class="product-card-buttons">
                            <a href="#" class="button">Купить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>